SimplyScienceGeo/Library
SimplyScienceGeo/Logs
SimplyScienceGeo/Builds2
SimplyScienceGeo/Temp
SimplyScienceGeo/Builds
SimplyScienceGeo/Assets/Freelance Work/Earth/Textures/Earth_Normal.png
SimplyScienceGeo/.vs
SimplyScienceGeo/UserSettings
